{% if gpx %}
    <div id="data-chart" data-points="{{ gpx.data.locations|json_encode }}"></div>
    <canvas id="myChart" style="height: 420px;"></canvas>
    <script type="module" src="{{ template_uri() }}/assets/js/dist/js/chartJf-jf.js">

    </script>
{% endif %}