<div class="
            hover:bg-art bg-art"></div>
<div class="
            hover:bg-walk bg-walk"></div>
<div class="
           hover:bg-party bg-party"></div>
<div class="
            hover:bg-delicacy bg-delicacy">
</div>
<div class="
            hover:bg-patrimony bg-patrimony">
</div>
