<div class="wrap">
    <h2>
        Offres Pivot sur la catégorie <strong><a href="{{ categoryUrl }}">{{ category.name }}</a></strong>
    </h2>

    <div id="offers-box" data-category-id="{{ catId }}">

    </div>

</div>