<div class="wrap">
    <h2>Filtres Pivot sur la catégorie Wordpress {{ category.name }}</h2>
    <table class="form-table">
        <tr class="form-field">
            <th scope="row" valign="top">
                <label for="bottin_refrubrique">Références pivot</label>
                <br>
                <p class="description">
                    <a href="{{ urlAdmin }}" target="_blank">
                        Liste des références</a>
                </p>
                <br/>
            </th>
            <td>
                <div id="filtres-box" data-category-id="{{ catID }}">

                </div>
            </td>
        </tr>
    </table>
</div>