<main class="container mx-auto mt-28 h-full" style="margin-top: 15rem;">
    <h2 class="text-2xl">
        {{ title ? title : 'Page non trouvée' }}
    </h2>
    <p class="text-cta-dark">
        {{ 'page.notfound'|trans }}
        <br/>
        {{ url }}
    </p>

    <p class="text-cta-light">
        <a href="/">Retour à la page d'accueil</a>
    </p>
</main>