{% if offre.dates|length > 0 %}
    <h3 class="font-montserrat-semi-bold text-cta-light text-md border-bottom">
        {{ 'Date(s)'|trans }}
    </h3>
    <div class="flex flex-col gap-2 mb-6">
        {% for date in offre.datesEvent %}
            <span class="font-montserrat-semi-bold text-cta-dark">
                {{ date|format_date('full')|title }}
                {{ dump(date) }}
            </span>
        {% endfor %}
    </div>
{% endif %}
