{% set  data =  specs['urn:cat:accueil'] %}
{% if data.items > 0 %}
    {% include '@VisitTail/offre/_specification_line.html.twig' %}
{% endif %}

{% set  data =  specs['urn:cat:eqpsrv'] %}
{% if data.items > 0 %}
    {% include '@VisitTail/offre/_specification_line.html.twig' %}
{% endif %}

{% set  data =  specs['urn:cat:classlab'] %}
{% if data.items > 0 %}
    {% include '@VisitTail/offre/_specification_line.html.twig' %}
{% endif %}

{% set  data =  specs['urn:cat:tarif'] %}
{% if data.items > 0 %}
    {% include '@VisitTail/offre/_specification_line.html.twig' %}
{% endif %}


{% for keyname,data in specs %}
    <h4 class="text-lg text-cta-dark"><strong>{{ data.category.labelByLanguage() }}</strong> {{ data.category.urn }}
    </h4>
    {% include '@VisitTail/offre/_specification_line.html.twig' %}
{% endfor %}
